.classpath
.project
.settings/
target/
felix-cache/
care-vaccination-scheduler/build/logs/
logs/
.externalToolBuilders/
maven-eclipse.xml
*.iml
*.ipr
*.bak
*.iws
.idea
log.roo
*.class
*.eml
*.userlibraries
out/
*.out
Error_log/
tama.log*
test-output/
servers.bat
src/main/webapp/emulator/*
.DS_Store
care-vaccination-scheduler/care-vaccination-scheduler-bundle/doc/
care-vaccination-scheduler/care-vaccination-scheduler-scheduling/doc/schedules/*.html
*.log*
*.wav
care-reporting/commcare-migration/dependency-reduced-pom.xml
care-reporting/care-reporting-email-appender/dependency-reduced-pom.xml
*~
*#
debug.txt
*.tmp
*.orig
